# File types
*.dbg
*.log

# Specific files
GIT_directory
HG_directory
filint
initgit
mkghrepo
.hgignore
b2c_push
b2c_trn

# The program executable files
base/bandit/c/bandit
base/civilwar2/c/civilwar2
base/craps/c/craps
base/depth/c/depth
base/gunner/c/gunner
base/hangmn/c/hangmn
base/horses/c/horses
base/joust/c/joust
base/litquiz/c/litquiz
base/lunar/c/lunar
base/number/c/number
base/othelo/c/othelo
base/sumer/c/sumer
base/war/c/war


# Directories
.hg
# ascii art
# aw software
# base
# ccgames
# classics
# cpm_games
# creative computing
# external
# misc
# other
# programs
# samples
# struggle
# trek


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
.dwo
